<h2><%= @post.headline %></h2>
<%= @post.body %>
<br>
<br>
<%= link_to 'Edit post', edit_post_path %>
<br>
<%= link_to 'Delete post', post_path, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
